*{
    margin: 0;
    padding: 0;
 box-sizing: border-box;
}


.display-flex{
 display: flex;
}



/* navbar design */
.navbar{
    background-color:#1A0B2E ;
     justify-content: space-between;
     align-items: center;
    /* width: 1600px; */
    height: 92px;
}
.navbar-Tech{
    width: 219px;
    height: 32px;
    color: #FFFFFF;
    margin-left: 200px;
   
}
.color-g{
    color:#b312d3be;
}

.menu{

margin-left: 314px;
gap:32px ;

}
.manu-iteam{
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
    text-align: center;
      
}
.btn{
    margin-left: 314px;
    margin-right: 200px;
    color: #FFFFFF;
    cursor: pointer;
    width: 135px;
    height: 44px;
    border-radius: 10000px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    background: linear-gradient(90deg, #F7E93F,#FB09B4,#FB09B4);
    box-shadow: 0 4px rgba(0, 0, 0, 0.25);
}
.btn:hover{
 color: #F7E93F;
}

/* wave style  */
.wave{
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    height:760px ;
}

.background-wave-img {
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.bag-gradient-color{
    width: 350px;
    height: 350px; 
    margin-top: 101px; 
    position: relative;
}

.wave-micro{
    z-index: 1;
    margin-top: -270px;
    text-align: center;
    
}
 .text{
  margin-top: 40px;
     color: #FFFFFF; 
}
.text h1{
    margin-top: 40px;
 text-align: center;
 font-size: 60px;
 font-weight: 800;

}
.text p{
    font-size: 16px;
}
.button{
    justify-content: center;
    align-items: center;
     gap: 8px;
  
}
.btn-0{
    color: #FFFFFF;
    cursor: pointer;
    width: 201px;
    height: 44px;
    border-radius: 10000px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    background: linear-gradient(90deg, #F7E93F,#FB09B4,#FB09B4);
    box-shadow: 0 4px rgba(0, 0, 0, 0.25);
    margin-top: 36px;
   
}
.btn-1{
    width: 147px;
    height: 44px;
    border:2px solid#00FF88 ;
border-radius: 10000px;
   font-size: 16px;
    font-weight: 500;
    margin-top: 36px;
    background: transparent;
color: #00FF88;


}

.bag-gradient-color p{
    color:#1A0B2E ;
    position: absolute;
    left: 50%;
    top: -3px;
    transform: translateX(50px);
    width: 75px;
    height: 38px;
    background-color: #00FF88;
    border-radius: 1000px;
   justify-content: center;
   align-items: center;
    border: none;
    box-shadow: 0 3px 27px #00FF88 ; 
}
/* About style  */

#about{
    background-color: #1A0B2E;
    height: 650px;
    border: 1px solid green;

  
}
.main-dev{
    width: 1200px;
    border: 1px solid red;
    margin-left: 360px;
}
.about-container{
align-items: center;
justify-content: center;

flex-direction: column;
 
    margin-top: 50px;
    color: #FFFFFF;
    
}
.about-container h1{
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    
}
.about-container  p{
font-size: 16px;
line-height: 20px;
text-align: center;
margin-top: 16px;

}
.about-rank{
    justify-content: center;
    align-items: center;
    margin-top: 160px;
   gap: 80px;
}
.k-card h1{
    color:#00FF88 ;
    font-size: 48px;
    font-weight: 600;
}
.k-card p{
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 16px;

}
.k-card{
    width: 240px;
    
}
.parent{
justify-content: center;
align-items: center;
}
.it{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 600;
   /* border:1px solid #00FF88; */
   margin-top: 120px;
   margin-bottom: 40px;
    
}
.bnn{
    display: grid;
    color: #FFFFFF;
    grid-template-columns: repeat(3,380px );
    grid-template-rows: repeat(3,225px);
}

#grid{
    background-color: #230E3D;

}
.main-grid{
    border: 1px solid aliceblue;
    width: 1200px;
    height: 785px;
   margin-left: 360px;
  /* margin-top: 218px; */
 grid-row-gap: 40px;
 grid-column-gap: 40px;
}

.grid-card{
 
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
   
   
    
}
.picture-1{
    margin-top: 108px;
    margin-left: 40px;
     width: 60px;
    height: 60px; 
} 
.picture-2{
     width: 60px;
    height: 60px;
    margin-left: 40px;
    margin-top: 40px;
}

.grid-card h1{
    font-size: 24px;
    font-weight: 600;
    margin-left: 40px;
}
.grid-card p {
    font-size: 16px;
    margin-left: 40px;
}

.big-layout{
    grid-column: span 1;
    grid-row: span 2;
}
.normal-layout{
    grid-column: span 2;
    grid-row: span 1;
    width: 780px;
}
.card-5{
       width: 360px;
}
#feature{
    background-color: #1A0B2E;
}
.ee{
    justify-content: center;
    align-items: center;
}

.rr{
    
    color: #FFFFFF;
    margin-top: 210px;
    margin-bottom: 40px;

  
}
.video-card{
width: 1200px;
margin-left: 360px;
gap:40px;

}
.video-show{
    /* margin-top:218px ; */
    /* border: 2px solid wheat; */
    width: 380px;
    height: 440px;
    background-color: #250D44;
    border-radius: 20px;
    box-shadow: 0 4px 4px #230E3D;

}
.video-show iframe{
    width: 380px;
    height: 214px;
    border-radius: 20px;
    margin-bottom: 24px;
}
.video-show h1{
    color: #FFFFFF;
    font-size: 24px;
     margin-bottom: 12px;
     margin-left: 24px;
}
.video-show p{
    color: #FFFFFF;
    font-size: 16px;
     margin-bottom: 12px;
     margin-left: 24px;
}

.video-show h5{
color: #00FF88;
font-size: 16px;
line-height: 24px;
margin-left: 24px;

}